.current {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.details-title {
  grid-column: span 2;
}
