.item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 6px 12px;
  background: hsl(0deg 0% 100% / 5%);
  border-radius: 3px;
}

.content {
  position: relative;
  font-size: 18px;
  font-weight: 800;
}

.title {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.units { font-size: 12px }

.sub { font-size: 14px; margin-right: 5px }
