:root {
    --container {
        width: 100%;
        max-width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        @media (--min-tablet) {
            padding-right: 25px;
            padding-left: 25px;
        }

        @media (--min-desktop) {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}
