
.five-days {
  position: relative;
  max-width: 1000px;
  margin: 72px auto;
}

.list-item {
  display: flex;
  gap: 24px;
}

.title {
  font-size: 20px;
  margin-bottom: 24px;
  text-align: center;
}
